<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<div th:fragment="dashboard">
    <section class="hero text-center text-white mb-4">
        <h1>Help Us Clear the Oceans.</h1>
        <p>Report &amp; Recover Ghost Nets.</p>
        <a class="btn btn-primary" th:href="@{/report}">Report a Net</a>
        <a class="btn btn-primary" th:href="@{/recoveries}">Join Recovery Effort</a>
    </section>
    <section class="row g-3">
        <div th:replace="~{fragments/report :: report}"></div>
        <div class="col-lg-6 col-md-12" th:insert="~{fragments/recoveries :: recoveries}"></div>
        <div class="col-lg-3 col-md-6" sec:authorize="isAuthenticated()">
            <div th:insert="~{fragments/my-tasks :: my-tasks}"></div>
        </div>
    </section>

</div>
</body>
</html>
